<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>联系</title>
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">
  <!-- Theme CSS -->
  <link type="text/css" href="../assets/css/theme.css" rel="stylesheet">
  <!-- Demo CSS - No need to use these in your project -->
  <link type="text/css" href="../assets/css/demo.css" rel="stylesheet">
  <script>
    function showSuccessMessage() {
      alert("提交成功！");
    }
  </script>
  <script src="https://ssl.captcha.qq.com/TCaptcha.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-light bg-white py-4">
    <div class="container">
      <a class="navbar-brand" href="#"><strong>联系&nbsp;</strong> </a>
      <button class="navbar-toggler" type="button" data-action="offcanvas-open" data-target="#navbar_main"
        aria-controls="navbar_main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse offcanvas-collapse" id="navbar_main">
        <ul class="navbar-nav ml-auto align-items-lg-center">
          <h6 class="dropdown-header font-weight-600 d-lg-none px-0">目录&nbsp;</h6>
          <li class="nav-item active">
            <a class="nav-link" href="../index.html">预览&nbsp;</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar_main_dropdown_1" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">更多&nbsp;</a>
            <div class="dropdown-menu" aria-labelledby="navbar_1_dropdown_1">
              <a class="dropdown-item" href="../pages/about.html">关于我们</a>
              <a class="dropdown-item" href="../pages/sign-in.html">登入/注册</a>
              <a class="dropdown-item" href="../pages/contact.html">联系</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./docs/introduction.html">https://gitee.com/nnxmzx/front-end/wikis/Home</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main class="main">
    <section class="slice slice-xl">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <div class="text-center pt-lg-md">
              <h2 class="heading h1 mb-4">
                想要跟我们合作吗?
              </h2>
              <p class="lead lh-180 color-code">
                ヾ(≧▽≦*)o&nbsp; </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="slice slice-lg bg-tertiary bg-cover bg-size--cover"
      style="background-image: url('../assets/images/backgrounds/img-1.jpg')">
      <div class="container">
        <div class="row align-items-center cols-xs-space cols-sm-space cols-md-space">
          <div class="col-lg-6">
            <h3 class="heading h3 mb-4">这里，向我们发送你的信息&nbsp;!</h3>
            <form method="POST" action="/submit">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <input class="form-control" placeholder="名字" type="text" name="name">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <input class="form-control" placeholder="联系方式如:邮箱/电话" type="text" name="email">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <textarea class="form-control" rows="5" placeholder="你的信息" name="message"></textarea>
                  </div>
                </div>
              </div>
              <div class="mt-4">
                <button type="submit" class="btn btn-primary px-4" onclick="showSuccessMessage()">
                  发送信息
                </button>
              </div>
            </form>
          </div>
          <div class="col-lg-5 ml-lg-auto">
            <h3 class="heading heading-3 strong-300">
              联系我们&nbsp; </h3>
            <p class="lead mt-4 mb-4">
              邮箱：暂无&nbsp;
              <br>
              电话：暂无
            </p>
            <p class="">
              blablabla......&nbsp; </p>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="pt-5 pb-3 footer  footer-dark bg-tertiary">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="pr-lg-5">
            <h1 class="heading h6 text-uppercase font-weight-700 mb-3"><strong>新民中学AI社</strong> </h1>
            <p>
              是一个致力于探索和推动人工智能技术发展的学术性学生组织。我们汇聚了对AI充满热情的学生，包括计算机科学、数据科学、工程学、数学和其他相关领域的爱好者。社团的宗旨是，提供一个学习和交流的平台，让成员们能够紧跟AI技术的最前沿，同时培养实践技能和创新思维。
            </p>
          </div>
        </div>
        <div class="col-6 col-md">
          <h5 class="heading h6 text-uppercase font-weight-700 mb-3">特征</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">团队特征&nbsp;</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5 class="heading h6 text-uppercase font-weight-700 mb-3">解决方案</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">方案&nbsp;</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5 class="heading h6 text-uppercase font-weight-700 mb-3">资源&nbsp;</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="https://github.com/HorineO/xmai-main-server">源代码&nbsp;</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5 class="heading h6 text-uppercase font-weight-700 mb-3">关于&nbsp;</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="./pages/about.html">团队</a></li>
            <li><a class="text-muted" href="./pages/about.html">地点&nbsp;</a></li>
            <li><a class="text-muted" href="./pages/about.html">隐私&nbsp;</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
  </footer>
  <!-- Core -->
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/popper/popper.min.js"></script>
  <script src="../assets/js/bootstrap/bootstrap.min.js"></script>
  <!-- FontAwesome 5 -->
  <script src="../assets/vendor/fontawesome/js/fontawesome-all.min.js" defer></script>
  <!-- Page plugins -->
  <script src="../assets/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
  <script src="../assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
  <script src="../assets/vendor/input-mask/input-mask.min.js"></script>
  <script src="../assets/vendor/nouislider/js/nouislider.min.js"></script>
  <script src="../assets/vendor/textarea-autosize/textarea-autosize.min.js"></script>
  <!-- Theme JS -->
  <script src="../assets/js/theme.js"></script>
  <!-- Robot verify-->
</body>

</html>