<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Xmai-team">
  <title>预览</title>
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">
  <!-- Theme CSS -->
  <link type="text/css" href="./assets/css/theme.css" rel="stylesheet">
  <!-- Demo CSS - No need to use these in your project -->
  <link type="text/css" href="./assets/css/demo.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-dark bg-dark py-4">
    <div class="container">
      <a class="navbar-brand" href="#"><strong>预览</strong> </a>
      <button class="navbar-toggler" type="button" data-action="offcanvas-open" data-target="#navbar_main"
        aria-controls="navbar_main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse offcanvas-collapse" id="navbar_main">
        <ul class="navbar-nav ml-auto align-items-lg-center">
          <h6 class="dropdown-header font-weight-600 d-lg-none px-0">目录&nbsp;</h6>
          <li class="nav-item active">
            <a class="nav-link" href="./index.html">预览&nbsp;</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar_main_dropdown_1" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">更多&nbsp;</a>
            <div class="dropdown-menu" aria-labelledby="navbar_1_dropdown_1">
              <a class="dropdown-item" href="./pages/about.html">关于我们</a>
              <a class="dropdown-item" href="./pages/sign-in.html">登入/注册</a>
              <a class="dropdown-item" href="./pages/contact.html">联系</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://gitee.com/nnxmzx/front-end/wikis/Home">文档</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main class="main">
    <section class="spotlight parallax bg-cover bg-size--cover" data-spotlight="fullscreen"
      style="background-image: url('https://img.zcool.cn/community/0138055e68dfbea80121651852e0d9.jpg@1280w_1l_2o_100sh.jpg')">
      <span class="mask bg-primary alpha-4"></span>
      <div class="spotlight-holder py-lg pt-lg-xl">
        <div class="container d-flex align-items-center no-padding">
          <div class="col">
            <div class="row cols-xs-space align-items-center text-center text-md-left justify-content-center">
              <div class="col-7">
                <div class="text-center mt-5">
                  <h2 class="heading display-4 font-weight-400 text-white mt-5 animated" data-animation-in="fadeInUp"
                    data-animation-delay="2000">
                    <span class="font-weight-700">新民中学</span> AI社官网
                  </h2>
                  <p class="lead text-white mt-3 lh-180 c-white animated" data-animation-in="fadeInUp"
                    data-animation-delay="2500">
                    智慧启迪，创新未来 <strong class="text-white">&nbsp;</strong>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="slice-lg">
      <div class="container">
        <h2 class="heading h3 strong-600 text-center mb-5">
          探索&nbsp;</h2>
        <div class="row-wrapper">
          <div class="row cols-xs-space cols-sm-space cols-md-space">
            <div class="col-md-6">
              <div class="card bg-primary">
                <div class="card-body py-5">
                  <div class="d-flex align-items-start">
                    <div class="icon-text">
                      <h3 class="heading text-white h4">聊天机器人&nbsp;</h3>
                      <p class="text-white mb-0">你可以跟它聊天~</p>
                      <br /><a class="heading text-white h7" href="http://chat.xmai-team.com/">快速访问</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-body py-5">
                  <div class="d-flex align-items-start">
                    <div class="icon-text">
                      <h3 class="heading h4">新功能</h3>
                      <p class="mb-0">还未开发的功能，敬请期待~</p>
                      <br /><br />
                      <a href="#">向我们提议</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row cols-xs-space cols-sm-space cols-md-space">
            <div class="col-md-6">
              <div class="card bg-primary">
                <div class="card-body py-5">
                  <div class="d-flex align-items-start">
                    <div class="icon-text">
                      <h3 class="heading text-white h4">新功能</h3>
                      <p class="text-white mb-0">还未开发的功能，敬请期待~</p>
                      <br /><a class="heading text-white h7" href="#">向我们提议</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-body py-5">
                  <div class="d-flex align-items-start">
                    <div class="icon-text">
                      <h3 class="heading h4">新功能&nbsp;</h3>
                      <p class="mb-0">还未开发的功能，敬请期待~</p>
                      <br /><br />
                      <a href="#">向我们提议</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row cols-xs-space cols-sm-space cols-md-space"></div>
          <div class="row cols-xs-space cols-sm-space cols-md-space"></div>
        </div>
      </div>
    </section>
    <section class="slice pt-0 sct-color-1">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-8 text-center">
            <h3 class="heading h3 font-weight-400">
              加入或联系我们&nbsp; </h3>
            <div class="mt-5">
              <a href="/pages/contact" target="_blank" class="btn btn-link">跳转链接&nbsp;</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="pt-5 pb-3 footer  footer-dark bg-tertiary">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="pr-lg-5">
            <h1 class="heading h6 text-uppercase font-weight-700 mb-3"><strong>新民中学AI社</strong> </h1>
            <p>
              是一个致力于探索和推动人工智能技术发展的学术性学生组织。我们汇聚了对AI充满热情的学生，包括计算机科学、数据科学、工程学、数学和其他相关领域的爱好者。社团的宗旨是，提供一个学习和交流的平台，让成员们能够紧跟AI技术的最前沿，同时培养实践技能和创新思维。
            </p>
          </div>
        </div>
        <div class="col-6 col-md">
          <h5 class="heading h6 text-uppercase font-weight-700 mb-3">特征</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">团队特征&nbsp;</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5 class="heading h6 text-uppercase font-weight-700 mb-3">解决方案</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">方案&nbsp;</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5 class="heading h6 text-uppercase font-weight-700 mb-3">资源&nbsp;</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="https://github.com/HorineO/xmai-main-server">源代码&nbsp;</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5 class="heading h6 text-uppercase font-weight-700 mb-3">关于&nbsp;</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="./pages/about.html">团队</a></li>
            <li><a class="text-muted" href="./pages/about.html">地点&nbsp;</a></li>
            <li><a class="text-muted" href="./pages/about.html">隐私&nbsp;</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- Core -->
  <script src="./assets/vendor/jquery/jquery.min.js"></script>
  <script src="./assets/vendor/popper/popper.min.js"></script>
  <script src="./assets/js/bootstrap/bootstrap.min.js"></script>
  <!-- FontAwesome 5 -->
  <script src="./assets/vendor/fontawesome/js/fontawesome-all.min.js" defer></script>
  <!-- Page plugins -->
  <script src="./assets/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
  <script src="./assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
  <script src="./assets/vendor/input-mask/input-mask.min.js"></script>
  <script src="./assets/vendor/nouislider/js/nouislider.min.js"></script>
  <script src="./assets/vendor/textarea-autosize/textarea-autosize.min.js"></script>
  <!-- Theme JS -->
  <script src="./assets/js/theme.js"></script>
</body>

</html>