<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>登录</title>
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">
  <!-- Theme CSS -->
  <link type="text/css" href="../assets/css/theme.css" rel="stylesheet">
  <!-- Demo CSS - No need to use these in your project -->
  <link type="text/css" href="../assets/css/demo.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-dark bg-dark py-4">
    <div class="container">
      <a class="navbar-brand" href="#"><strong>登录&nbsp;</strong> </a>
      <button class="navbar-toggler" type="button" data-action="offcanvas-open" data-target="#navbar_main"
        aria-controls="navbar_main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse offcanvas-collapse" id="navbar_main">
        <ul class="navbar-nav ml-auto align-items-lg-center">
          <h6 class="dropdown-header font-weight-600 d-lg-none px-0">目录&nbsp;</h6>
          <li class="nav-item active">
            <a class="nav-link" href="../index.html">预览&nbsp;</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar_main_dropdown_1" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">更多&nbsp;</a>
            <div class="dropdown-menu" aria-labelledby="navbar_1_dropdown_1">
              <a class="dropdown-item" href="../pages/about.html">关于我们</a>
              <a class="dropdown-item" href="../pages/sign-in.html">登入/注册</a>
              <a class="dropdown-item" href="../pages/contact.html">联系</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://gitee.com/nnxmzx/front-end/wikis/Home">文档</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main class="main">
    <section class="py-xl bg-cover bg-size--cover"
      style="background-image: url('../assets/images/backgrounds/img-1.jpg')">
      <span class="mask bg-primary alpha-6"></span>
      <div class="container d-flex align-items-center no-padding">
        <div class="col">
          <div class="row justify-content-center">
            <div class="col-lg-4">
              <div class="card bg-primary text-white">
                <div class="card-body">
                  <button type="button" class="btn btn-primary btn-nobg btn-zoom--hover mb-5">
                    <span class="btn-inner--icon"><i class="fas fa-arrow-left"></i></span>
                  </button>
                  <span class="clearfix"></span>
                  <h4 class="heading h3 text-white pt-3 pb-5">欢迎回归&nbsp;,<br>
                    请登入您的账户&nbsp;</h4>
                  <form class="form-primary">
                    <div class="form-group">
                      <input type="email" class="form-control" id="input_email" placeholder="邮箱 / 账户">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" id="input_password" placeholder="密码">
                    </div>
                    <div class="text-right mt-4"><a href="#" class="text-white">忘记密码了? !</a></div>
                    <button type="submit" class="btn btn-block btn-lg bg-white mt-4">登入</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="pt-5 pb-3 footer  footer-dark bg-tertiary">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="pr-lg-5">
            <h1 class="heading h6 text-uppercase font-weight-700 mb-3"><strong>新民中学AI社</strong> </h1>
            <p>
              是一个致力于探索和推动人工智能技术发展的学术性学生组织。我们汇聚了对AI充满热情的学生，包括计算机科学、数据科学、工程学、数学和其他相关领域的爱好者。社团的宗旨是，提供一个学习和交流的平台，让成员们能够紧跟AI技术的最前沿，同时培养实践技能和创新思维。
            </p>
          </div>
        </div>
        <div class="col-6 col-md">
          <h5 class="heading h6 text-uppercase font-weight-700 mb-3">特征</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">团队特征&nbsp;</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5 class="heading h6 text-uppercase font-weight-700 mb-3">解决方案</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">方案&nbsp;</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5 class="heading h6 text-uppercase font-weight-700 mb-3">资源&nbsp;</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">源代码&nbsp;</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5 class="heading h6 text-uppercase font-weight-700 mb-3">关于&nbsp;</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="./pages/about.html">团队</a></li>
            <li><a class="text-muted" href="./pages/about.html">地点&nbsp;</a></li>
            <li><a class="text-muted" href="./pages/about.html">隐私&nbsp;</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
  </footer>
  <!-- Core -->
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/popper/popper.min.js"></script>
  <script src="../assets/js/bootstrap/bootstrap.min.js"></script>
  <!-- FontAwesome 5 -->
  <script src="../assets/vendor/fontawesome/js/fontawesome-all.min.js" defer></script>
  <!-- Page plugins -->
  <script src="../assets/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
  <script src="../assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
  <script src="../assets/vendor/input-mask/input-mask.min.js"></script>
  <script src="../assets/vendor/nouislider/js/nouislider.min.js"></script>
  <script src="../assets/vendor/textarea-autosize/textarea-autosize.min.js"></script>
  <!-- Theme JS -->
  <script src="../assets/js/theme.js"></script>
</body>

</html>